* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    
}

body {
    background-color: #2a2a2a;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #f2f2f2;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}



.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************************************************/
/* From uiverse.io by @adamgiebl */
.boton-empezar {
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
    position: relative;
    list-style: none;
    width: 150px;
    height: 40px;
    border: none;
    background: transparent;
    font-family: inherit;
    margin: 5rem;
}

.boton-empezar:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform: skewX(-41deg);
}

.boton-empezar:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform: skewY(-49deg);
}

.boton-empezar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.8s ease-out;
}

.boton-empezar:hover span {
    z-index: 1000;
    transition: .3s;
    color: black;
    background-color: #f2f2f2;
}

.boton-empezar:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.boton-empezar:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.boton-empezar:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.boton-empezar:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.boton-empezar:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}

.boton-empezar:active span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
}

.boton-empezar:active span:nth-child(4) {
    transform: translate(15px, -15px);
}

.boton-empezar:active span:nth-child(3) {
    transform: translate(10px, -10px);
}

.boton-empezar:active span:nth-child(2) {
    transform: translate(5px, -5px);
}

.boton-empezar:active span:nth-child(1) {
    transform: translate(0px, 0px);
}

.boton-empezar:nth-child(1):hover span {
    background: #f2f2f2;
}

/*************************************************/

.contenedor-texto .titulo {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.contenedor-texto p {
    margin-bottom: 1.5rem;
    line-height: 36px;
}

.contenedor-inputs {
    display: flex;
    flex-direction: column;
    
}
/*
let myArray = ['1','2','3']
    let i,j,k;
    for (i = myArray.length; i; i--) {
        j = Math.floor(Math.random() * i);
        k = myArray[i - 1];
        myArray[i - 1] = myArray[j];
        myArray[j] = k;

        function numeroAleatorio() {
    const min = 1
    const max = 3
    
    Math.floor((Math.random() * (max - min + 1)) + min);  
        }
}

*/
.labels {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    text-align: left;
    border: 3px solid #5b4a9a; /*ARREGLAR*/
    margin: 0.4rem 0;
    padding: 0.6rem;
    border-radius: 5px;
    transition: 0.3s ease-out;
    
}
.labels:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.001);
}

.labels input[type="radio"] {
    background-color: #5b4a9a; /*ARREGLAR*/
}

.botonesAvance {
    display: flex;
    justify-content: flex-end;
}

.btn-link {
    padding: 10px 30px;
    border-radius: 100px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    transition: ease 0.2s;
}

.btn-link:hover,
.btn-link.activo {
    color: #fff;
    background: #5b4a9a;
}

@media screen and (max-width: 915px) {
    main {
        flex-direction: column;
        text-align: center;
    }


}